#body {
    background-color: aquamarine;
}

.navbar {
    background-color: aliceblue;
}

.nav-link {
    font-size: 125%;
}

#logo {
    height: 50px;
    padding: 3px;
}

.navbar-brand {
    font-size: 150%;
}
